*{
    padding:0px;
    margin: auto 0;
}
@font-face{
    font-family: 'Open Sans';
    src: url('../assets/AUTOMANI.TTF') ;
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: '"Times New Roman';
    src: url('../assets/Flottflott.TTF') ;
    font-style: normal;
    font-weight: normal;
}
body{
    background:linear-gradient(135deg,#000000,#373636);
    color:white;
}
table,td,th{
    border:1px #ff00aa solid;
    border-collapse: collapse;
}
h1{
    font-family: 'Open Sans';
    color:#ff00aa;
}
img{
    width: 100%;
}

div#cabecera{
    display: flex;
    gap:20px;
}
div#logo{
    width:10%;
}

svg#anadir{
    fill:rgb(4, 253, 4);
    cursor:pointer;
    
}
svg#buscar{
    fill:rgb(4, 253, 16);
    cursor:pointer;
}
/*tabla*/
div#opciones{
    position:relative;
    margin:0 auto;
    width:50%;
    text-align:center;
    margin-bottom:10px;
}
#linkAvisos{
   
    text-align: center;
    margin-top:300px;
}
#linkAvisos a{
    color:white;
    text-decoration: none;

}
div#opciones > label > input{
    background-color:#999ce0;
    border: 1px #ff00aa solid;
    color:#ff00aa;
    font-weight: bold;
    padding:5px;
    text-align:center;
    width:20%;
}
table{
    font-family: '"Times New Roman';
    position:relative;
    margin:0 auto;
    width:30%;
    background-color:#999ce0;
    color:black;
    box-shadow: 0px 1px 1px 1px #0400ff;
}
table thead tr:first-child {
    color:#ff00aa;
    font-size: 2rem;
    text-align:center;
    
}
table > tbody, #campos{
    text-align:center;
    font-size: 1.5rem;;
}
div.formulario{
    font-size:1.3rem;
    font-family: '"Times New Roman';
    color:black;
   display:flex; 
   padding:10px;
   flex-flow:wrap;
   width:50%;
   background-color: #999ce0;
   position:relative;
   margin: 0 auto;
}
div.formulario label, div.formulario div, div.formulario  input{
    margin:20px;
}
.tituloProceso{
    font-family: 'Open Sans';
    text-align:center;
    margin:10px;
}
.inactivo{
    display:none;
}
.activo {
    display:block;
}
#contenedor{
    font-family: '"Times New Roman';
    font-size:1.5rem;
    margin-left:10%;
}
#fotoConsulta{
    width:20%;
}
@media (max-width:800px){
    div#cabecera{
        display:none;
    }
    div.formulario{
        width:100%;
        height:100vh;
        overflow: hidden;
        margin:0;
       
    }
}